.cache
.github
.pytest_cache
.ipython
.ruff_cache
.venv
**/__pycache__/
**/*.py[cod]
analisys
nginx
staticfiles
htmlcov
LICENSE
.env
.env_samples
.git
.coverage
.editorconfig
.pre-commit-config.yaml
docker-compose-dev.yml
docker-compose-prod.yml
Dockerfile.dev
Dockerfile.prod
README.md
