<div class="container">
  <footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-3 border-top  bg-primary">
    <p class="col-md-2 mb-0 text-light m-2">&copy; 2024 PyHeat1D</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url 'core:list_simulation' %}" class="nav-link text-light px-2 ">Home</a></li>
      <li class="nav-item"><a href="{% url 'core:redirect_flower' %}" class="nav-link text-light px-2 ">Celery</a></li>
    </ul>
  </footer>
</div>
