<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhe</title>
    </head>
    <body>
      <h2>Infos</h2>
      <table>
        {% for k, v in data.items %}
        <tr>
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
        {% endfor %}
      </table>

      <h2> Geometria </h2>
      <table>
        {% for k, v in geom.items %}
        <tr>
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
        {% endfor %}
      </table>

      <h2> Distetização temporal </h2>
      <table>
        {% for k, v in temporal_dist.items %}
        <tr>
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
        {% endfor %}
      </table>

      <h2> Propriedades </h2>
      <table>
        {% for k, v in props.items %}
        <tr>
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
        {% endfor %}
      </table>

      <h2> Condições iniciais </h2>
      <table>
        <tr>
          <th>Campo</th>
          <th>Valor</th>
        </tr>
        {% for k, v in initial_conditions.items %}
        <tr>
          <td>{{ k }}</td>
          <td>{{ v }}</td>
        </tr>
        {% endfor %}
      </table>


      <h2> Condição de contorno </h2>
      <table>
        <tr>
          <th>Campo</th>
          <th>Valor</th>
        </tr>
        {% for k, v in bcs.items %}
          <td> {{ k }}
          {% for k1, v1 in v.items %}
          {{ v1 }}
          {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <a href="{% url 'core:analysis_list' %}"> Lista de Simulações </a>
    </body>
</html>
