{% extends 'base.html' %}

{% block title%} Criar uma analise {% endblock title %}

{% block main %}
      <div class="container">
        <h1>Formulario de criação de uma análise</h1>
        <div class="row">
          {% if messages %}
            <ol>
            {% for message in messages %}
              {% if message.tags == "error" %}
              <li class="alert alert-danger">
                {{message}}
              </li>
              {% else %}
              <li class="alert alert-success">
                {{message}}
              </li>
              {% endif %}
            {% endfor %}
            </ol>
          {% endif %}
        </div>
        <form class="row " method="post">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}" >{{field.label}}</label>
              <div class="col-sm-2">
                {{ field }}
              </div>
              {% if field.errors %}
              <div class="alert alert-danger">
                {{ field.errors }}
              </div>
              {% endif %}
            </div>
          {% endfor %}
          <div>
            <button class="btn btn-primary" type="submit">Criar</button>
            {% include "core/partials/return_list.html" %}
          </div>
        </form>
      </div>
{% endblock main%}
