  {% extends 'base.html' %}

{% block title%} Criar uma analise {% endblock title %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="shadow mt-4 p-4 rounded bg-light">
      <h4 class="text-center">Formulário de criação de uma análise</h4>

      <form method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="mb-2 row">
          <label class="col-sm-8 col-form-label" for="{{ field.id_for_label }}" >{{field.label}}</label>
          <div class="col-sm-4">
            {{ field }}
          </div>
        </div>
        {% if field.errors %}
          <div class="alert alert-danger col">
            {{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <button class="btn btn-primary" type="submit">Criar</button>
        {% include "core/partials/return_list.html" %}
      </div>
    </form>
  </div>
  <div class="mt-2 row">
    <div class="col">
    {% include "core/partials/messages.html" %}
    </div>
  </div>
</div>
{% endblock main%}
